@import "tailwindcss";
@plugin "daisyui";

.sidebar::-webkit-scrollbar {
    display: none;
}

@keyframes shimmer {
    0% {
        background-position: -200px 0;
    }

    100% {
        background-position: 200px 0;
    }
}

.animate-shimmer {
    background: linear-gradient(90deg,
            #1f415b 0%,
            #2a516d 50%,
            #1f415b 100%);
    background-size: 200px 100%;
    animation: shimmer 1.5s infinite;
}